<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Stack admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, stack admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Welcome - Event Sphere</title>
    <link rel="apple-touch-icon" href="/Content/PleasantDentalData/Logo.png">
    <link rel="shortcut icon" type="image/x-icon" href="/Content/PleasantDentalData/Logo.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/vendors/css/extensions/unslider.css">
    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/vendors/css/weather-icons/climacons.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/fonts/meteocons/style.css">
    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/vendors/css/charts/morris.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/css/pages/app-kanban.css">

    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/vendors/css/pickers/daterange/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/vendors/css/forms/selects/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/vendors/css/forms/quill/quill.snow.css">
    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/vendors/css/extensions/dragula.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/css/components.css">
    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/css/pages/timeline.css">
    <!-- END: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/vendors/css/forms/selects/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/css/pages/app-todo.css">

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/Content/template/app-assets/vendors/css/jkanban/jkanban.min.css">

    <link rel="stylesheet" type="text/css" href="/Content/template/assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body id="mybody" class="vertical-layout vertical-menu content-left-sidebar todo-application  fixed-navbar" data-open="click" data-menu="vertical-menu" data-col="content-left-sidebar">

    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-dark bg-gradient-x-primary navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="feather icon-menu font-large-1"></i></a></li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="~/Admin/Dashboard">
                            <img style="width: 20%" class="brand-logo" alt="stack admin logo" src="~/Content/PleasantDentalData/Logo.png">
                            <h3 class="brand-text"><span>Pleasant</span> <span style="font-size: 15px">Dental</span></h3>
                        </a>
                    </li>
                    <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a></li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">

                    <ul class="nav navbar-nav mr-auto ">
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="feather icon-menu"></i></a></li>
                    </ul>


                    <ul>
                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown" style="color: white">
                                <div class="avatar avatar-online"><img src="/Content/template/app-assets/images/portrait/small/avatar-s-1.png" alt="avatar"><i></i></div><span class="user-name" style="color: white">@Session["Username"]</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                @if (!User.IsInRole("Member") && !User.IsInRole("Super Admin"))
                                {
                                    <a class="dropdown-item" href="~/user/index"><i class="feather icon-user"></i>Users</a>
                                    @*<a class="dropdown-item" href="~/Settings/WorkspaceSettings"><i class="feather icon-settings"></i>Settings</a>*@
                                }
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="feather icon-power"></i> Logout</a>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->
    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" nav-item">
                    <a href="~/admin/dashboard"><i class="feather icon-user"></i><span class="menu-title" data-i18n="">Dashboard</span></a>
                </li>
                

                @*<a href="#" data-href="@Url.Action("CreateSubSpace", "WorkspaceSubMenu")" class="data-btn btn btn-outline-success" type="button" data-toggle="modal" data-target="#actionModal"><i class="feather icon-plus"></i> Create Sub Space</a>*@

            </ul>
        </div>
    </div>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()}
    <!-- END: Main Menu
            <!-- BEGIN: Content-->
    <div class="app-content content" style="padding: 20px">
        @RenderBody()
    </div>
    <div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light navbar-border">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block"><a class="text-bold-800 grey darken-2" href="https://1.envato.market/pixinvent_portfolio" target="_blank"> </a></span><span class="float-md-right d-none d-lg-block">Developed By <a href="https://mubixsol.com" target="_blank">MubixSol</a></span></p>
    </footer>
    <!-- END: Footer-->
    <!-- BEGIN: Vendor JS-->
    <script src="/Content/template/app-assets/vendors/js/vendors.min.js"></script>
    <script src="/Content/template/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="/Content/template/app-assets/js/scripts/forms/select/form-select2.js"></script>

    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->

    <script src="/Content/template/app-assets/vendors/js/pickers/daterange/moment.min.js"></script>
    <script src="/Content/template/app-assets/vendors/js/pickers/daterange/daterangepicker.js"></script>
    <script src="/Content/template/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="/Content/template/app-assets/vendors/js/forms/quill/quill.js"></script>
    <script src="/Content/template/app-assets/vendors/js/extensions/dragula.min.js"></script>
    <script src="/Content/template/app-assets/vendors/js/charts/raphael-min.js"></script>
    <script src="/Content/template/app-assets/vendors/js/charts/morris.min.js"></script>
    <script src="/Content/template/app-assets/vendors/js/extensions/unslider-min.js"></script>
    <script src="/Content/template/app-assets/vendors/js/timeline/horizontal-timeline.js"></script>

    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="/Content/template/app-assets/js/core/app-menu.js"></script>
    <script src="/Content/template/app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    <script src="/Content/template/app-assets/vendors/js/charts/chart.min.js"></script>

    <script src="/Content/template/app-assets/js/scripts/pages/dashboard-ecommerce.js"></script>
    <script src="/Content/template/app-assets/js/scripts/pages/app-todo.js"></script>
    <script src="/Content/template/app-assets/vendors/js/jkanban/jkanban.min.js"></script>
    <script src="/Content/template/app-assets/js/scripts/pages/app-kanban.js"></script>
    <script src="/Content/template/app-assets/js/scripts/charts/chartjs/bar/bar.js"></script>
    <script src="/Content/template/app-assets/js/scripts/charts/chartjs/bar/bar-stacked.js"></script>
    <script src="/Content/template/app-assets/js/scripts/charts/chartjs/bar/bar-multi-axis.js"></script>
    <script src="/Content/template/app-assets/js/scripts/charts/chartjs/bar/column.js"></script>
    <script src="/Content/template/app-assets/js/scripts/charts/chartjs/bar/column-stacked.js"></script>
    <script src="/Content/template/app-assets/js/scripts/charts/chartjs/bar/column-multi-axis.js"></script>
    <!-- END: Page JS-->
    <script>


        function showmodal() {
            $("#actionModal").fadeIn();
            $("#actionModal").attr("class", "modal fade show");
            $.ajax({
                url: "/WorkspaceSubMenu/CreateWorkspaceform",
            })
                .done(function (response) {
                    $("#actionModal .modal-dialog").html(response);

                });
        }
        $(".data-btn").click(function () {
            $.ajax({
                url: $(this).attr("data-href"),
            })
                .done(function (response) {
                    $("#actionModal .modal-dialog").html(response);
                });
        });</script>
</body>
<!-- END: Body-->

</html>